@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  font-family: 'Poppins';
  background-color: rgb(156, 131, 180);
  width: 80%;
  margin: auto;
}

.logo img {
  height: 40px;
  width: 120px;
}

nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

li {
  text-decoration: none;

  display: inline-block;
  margin-right: 20px;
  font-weight: 600;
}

ul {
  list-style: none;
}

.cardscontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  width: 90px;
  height: 50px;
  margin: 20px auto;
  border: solid 2px purple;
  background-color: rebeccapurple;
}

.cards {
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  width: 300px;
  align-items: center;
  border-radius: 10px;
}

.pokemon__img {
  width: 200px;
}

.heading {
  text-align: center;
}

/* Contactform */

.formDiv {
  border: solid 2px black;
  border-radius: 5px;
  margin-top: 140px;
  padding: 20px;
  background-color: rgb(226, 227, 255);
}

input[type='text'] {
  width: 100%;
  height: 20px;
  border: solid 1px black;
  border-radius: 5px;
}

label {
  margin-top: 10px;
  display: block;
}

p {
  padding: 0px;
  margin: 0px;
}

.error {
  color: red;
  display: none;
}

button {
  margin-top: 30px;
  background-color: rgb(103, 104, 168);
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.error {
  color: red;
}
.hide {
  display: none;
}

.show {
  display: block;
}
