@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
	font-family: 'Poppins';
}

main {
}

.cardscontainer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	border: solid 2px black;
}

.cards {
	text-align: center;
	margin: 10px;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	font-weight: 400;
}
